QPushButton {
    color: white;                 
    font-size: 14px;              
    border: none;                 
    border-radius: 8px;           
    padding: 12px 16px;           
    margin: 8px;                   
  }
  
  QPushButton#signBtn {
    background-color: #2196F3;
  }
  
  QPushButton#signBtn:hover {
    background-color: #1976D2;
  }
  
  QPushButton#verifyBtn {
    background-color: #32CD32;
    color: black;               
  }
  
  QPushButton#verifyBtn:hover {
    background-color: green;
  }
  
  QPushButton#quitBtn {
    background-color: #FF5733;
  }
  
  QPushButton#quitBtn:hover {
    background-color: #CC462F;
  }
  